@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;400;700&family=Poppins:wght@700&display=swap');
@import './styles/var';
@import './styles/mixin';
@import './styles/other';
@import './styles/animation';

@import './component/Navbar';
@import './component/Footer';

@import './component/Hero';
@import './component/SectionSkill';
@import './component/SectionLatest';
@import './component/SectionClient';

@import './pages/Portpolio';
@import './component/CardPortofolio';

@import './pages/About';
@import './component/EduExp';

@import './pages/PortoPost';

:root {
  font-family: 'Overpass', sans-serif;
  // font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  @include breakpoint-up(medium){
    font-size: 16px;
    line-height: 18px;
  }
  @include breakpoint-up(large){
    font-size: 18px;
    line-height: 20px;
  }

  color: $prim-light;
  background-color: $prim-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  color: $prim-light;
  @include breakpoint-up(medium){
    font-size: 16px;
    line-height: 18px;
  }
  @include breakpoint-up(large){
    font-size: 18px;
    line-height: 20px;
  }

}
a:hover {
  color: $divi;
}

body {
  margin: 0;
}

h1 , h2 , h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.5px;
  @include breakpoint-up(medium){
    font-size: 40px;
    line-height: 50px;
  }
  @include breakpoint-up(large){
    font-size: 48px;
    line-height: 52px;
  }
}

h2 {
  font-size: 24px;
  line-height: 28px;
  text-shadow: $text-shadow;
  @include breakpoint-up(medium){
    font-size: 28px;
    line-height: 32px;
  }
  @include breakpoint-up(large){
    font-size: 32px;
    line-height: 36px;
  }
}

h3 {
  font-size: 18px;
  line-height: 22px;
  @include breakpoint-up(medium){
    font-size: 20px;
    line-height: 24px;
  }
  @include breakpoint-up(large){
    font-size: 24px;
    line-height: 28px;
  }
}

h4 {
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  @include breakpoint-up(medium){
    font-size: 16px;
    line-height: 18px;
  }
  @include breakpoint-up(large){
    font-size: 18px;
    line-height: 20px;
  }
}

h5 {
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 16px;
  @include breakpoint-up(medium){
    font-size: 16px;
    line-height: 18px;
  }
  @include breakpoint-up(large){
    font-size: 18px;
    line-height: 20px;
  }
}
